@{
  Layout = "_Layout";
}
@* MODEL DIRECTIVE: *@
@model ToDoList.Models.Item

<h4>Add a New Item</h4>

<p>@Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>
<p>@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  <br/>
  @Html.TextBoxFor(model => model.Description)
  <br/>
  @Html.LabelFor(model => model.Category)
  <br/>
  @Html.DropDownList("CategoryId")
  <br/>
  <br/>
  <input type="submit" value="Add New Item" class="btn btn-primary" />
}
<br/>
<p>@Html.ActionLink("Show All Items", "Index")</p>