@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h2>Edit</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Description)</h4>

@using (Html.BeginForm())
{
  @*  We need to pass the specific item's ItemId on to the controller, so
      our controller knows which item to update. *@
  @Html.HiddenFor(model => model.ItemId)

  @Html.LabelFor(model => model.Description)
  @Html.EditorFor(model => model.Description)

  @Html.LabelFor(model => model.Category)
  @Html.DropDownList("CategoryId")
  <br/>
  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to List", "Index")</p>